<footer class="d-flex flex-wrap justify-content-between align-items-center  border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class=" me-2  text-body-secondary text-decoration-none lh-1">
        <img src="assets\logo.png" alt="logo" width="50" >
      </a>
      <span class="text-body-secondary">© 2024 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex me-3">
      <li class="ms-3"><a class="btn btn-sm btn-outline-dark rounded-circle" href="https://web.facebook.com/profile.php?id=100007503586552"><i class="bi bi-facebook"></i></a></li>
      <li class="ms-3"><a class="btn btn-sm btn-outline-dark rounded-circle" href="https://github.com/EmadERagheb"><i class="bi bi-github"></i></a></li>
      <li class="ms-3"><a class="btn btn-sm btn-outline-dark rounded-circle " href="https://www.linkedin.com/in/emad-e-ragheb/"><i class="bi bi-linkedin"></i></a></li>
      <li class="ms-3"><a class="btn btn-sm btn-outline-dark rounded-circle " href="https://wakatime.com/@Emad_E_Ragheb"><img src="assets\wakatime.svg"class="text-dark" style="width: 20px;"></a></li>
    </ul>
  </footer>