<div class="card my-5 col-9 mx-auto">
    <div class="card-header"><i class="fa fa-user-plus"></i> Create</div>
    <div class="card-body">
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row text-center ">

                <div class="col-md-6 mx-auto ">
                    <form method="post" enctype="multipart/form-data" [formGroup]="createPersonForm" (ngSubmit)="saveChanges()">
                        <div class="p-3 py-5">

                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Create Profile</h4>
                            </div>
                            <div class="row mt-2">
                                <app-text-input label="Full Name"
                                    [formControl]="createPersonForm.controls['fullName']"></app-text-input>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <app-text-input label="Mobile"
                                        [formControl]=" createPersonForm.controls['mobile']"></app-text-input>
                                </div>
                                <div class="col-md-12">
                                    <app-text-input label="Email"
                                        [formControl]="createPersonForm.controls['email']"></app-text-input>
                                </div>
                                <div class="col-md-12">
                                    <app-text-input type="date" label="BirthDate"
                                        [formControl]="createPersonForm.controls['birthDate']"></app-text-input>
                                </div>
                                <div class="col-md-12">
                                    <app-text-input label="Street"
                                        [formControl]="createPersonForm.controls['street']"></app-text-input>
                                </div>
                                <div class="col-md-12">
                                    <app-text-input label="City"
                                        [formControl]="createPersonForm.controls['city']"></app-text-input>
                                </div>
                                <div class="col-md-12">
                                    <app-text-input label="State"
                                        [formControl]="createPersonForm.controls['state']"></app-text-input>

                                </div>
                                <div class="col-md-12">
                                    <app-text-input type="file" accept=".png,.jpg" label="image URL" (change)="onFileSelected($event)"
                                        [formControl]="createPersonForm.controls['image']"></app-text-input>

                                </div>
                                <div class="col-md-12">
                                    <app-text-input label="Postal code"
                                        [formControl]="createPersonForm.controls['postalCode']"></app-text-input>
                                </div>
                                <div class="col-md-12 mb-3 form-floating">
                                    <select (change)="onJobSelected()" name="jobId" class="form-select"
                                        formControlName="jobId" id="jobId">
                                        <option *ngFor="let job of jobs" value="{{job.id}}">{{job.name}}</option>
                                    </select>
                                    <label class="ms-2 text-muted" for="job">Job</label>
                                </div>
                                <div class="form-floating mb-3 col-md-12">
                                    <select class="form-select  " [class.is-valid]="departmentId?.valid"
                                        [class.is-invalid]="departmentId?.invalid&&departmentId?.touched"
                                        id="departmentId" formControlName="departmentId">
                                        <option *ngFor="let department of departments"
                                        
                                            value="{{department.id.toString()}}">{{department.name}}</option>
                                    </select>
                                    <label class="ms-2 text-muted" for="departmentId">Department</label>
                                    <div [hidden]="departmentId?.valid||!departmentId?.touched ">
                                        <span *ngIf="departmentId?.hasError('pattern')" class="text-danger">
                                            please select department.
                                        </span>
                                    </div>

                                </div>
                            </div>

                            <div class="mt-5 d-flex justify-content-between">
                                <button class="btn btn-outline-primary " [disabled]="!createPersonForm.valid"type="submit">Create Profile</button>
                                <button class="btn btn-outline-info" routerLink="/admin/persons">Back To Persons</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
