<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between   border-bottom">
    <div class="col-md-3 ">
      <a href="" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img src="assets\logo.png" alt="logo" width="75" >
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a href="#" class="nav-link px-2">Features</a></li>
      <li><a href="#" class="nav-link px-2">Pricing</a></li>
      <li><a href="#" class="nav-link px-2">FAQs</a></li>
      <li><a href="#" class="nav-link px-2">About</a></li>
    </ul>

  <div class="col-md-3 text-end py-3 ">
    <ng-container *ngIf="(accountService.userSource$|async)==null">
    <button type="button" class="btn btn-outline-primary me-2">Login</button>
    </ng-container>
    <ng-container *ngIf="accountService.userSource$|async as user">
      <button  class="btn btn-outline-primary border-0 " style="cursor:default;"> Welcome {{user.displayName}}</button>
      <button type="button" class="mx-2 btn btn-outline-primary  " (click)="downLoadPersons()" ><i class="fa fa-download"></i></button>
      <button type="button" class="mx-2 btn btn-outline-primary " (click)="accountService.logout()">Logout</button>
      </ng-container>
  </div>
</header>


